@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
	--light: #bdb8d6;
	--gold: #fdcf2f;
	--form-control-color: #fdcf2f;
	--danger: #fc3030;
	--dark: #2c2549;
}

*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
}

body {
	height: calc(100% - 70px);
	margin-top: 70px;
	background-color: var(--dark);
	color: var(--light);
}

body::-webkit-scrollbar {
	width: 0;
	background: transparent;
}

h1,
h2,
h3 {
	font-weight: 500;
}

h1 {
	margin: 0 auto;
}

h2 {
	margin: 0.25em 1em;
}

h3 {
	margin: 0.5em 1em;
}

a {
	text-decoration: none;
	color: var(--light);
}

a:hover {
	color: var(--gold);
}

div {
	position: relative;
}

p,
li {
	line-height: 1.2;
	margin: 1rem;
	list-style: none;
}

select {
	cursor: pointer;
}

ul {
	margin: 0 10px 0 20px;
}

span {
	color: var(--gold);
}

em {
	font-size: 0.9em;
	margin-bottom: 10px;
}

.active {
	color: var(--gold);
}

.background-image {
	position: absolute;
	width: 100%;
	height: 84%;
	top: 0;
	left: 0;
	z-index: -1;
}

.border-bottom {
	padding-bottom: 5px;
	border-bottom: 1px solid var(--light);
}

.btn {
	cursor: pointer;
	font-weight: 500;
	color: var(--light);
	background: var(--dark);
	border: 1px solid var(--light);
	border-radius: 0.25rem;
	padding: 5px 10px;
	box-shadow: 5px 5px 15px #211b36, -5px -5px 15px #372f5c;
}

.btn-reverse {
	background: var(--light);
	color: #2c2549;
	box-shadow: 5px 5px 15px #211b36, -5px -5px 15px #372f5c;
}

.btn:hover,
.btn-reverse:hover {
	border: 1px solid var(--dark);
	background-color: var(--gold);
	color: var(--dark);
	box-shadow: 5px 5px 15px #211b36, -5px -5px 15px #372f5c;
}

.btn-danger {
	color: var(--danger);
	border: 1px solid var(--danger);
	box-shadow: none;
}

.btn-danger:hover {
	color: var(--dark);
	border: 1px solid var(--dark);
	background-color: var(--danger);
	box-shadow: none;
}

.btn-center {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.btn-search {
	margin: 0 10px 0 20px;
}

.btn-view {
	font-size: 0.9rem;
	padding: 2px 4px;
}

.btn-note {
	border: 1px solid var(--gold);
	color: var(--gold);
}

.border-bottom {
	padding-bottom: 20px;
	border-bottom: 1px solid var(--gold);
}

.capitalize {
	text-transform: capitalize;
}

.card {
	text-align: left;
	min-width: 330px;
	max-width: 20vw;
	margin: 0 10px 10px;
	padding: 1em 1.5em 1em;
	border: 2px solid rgba(255, 255, 255, 0.1);
	background-color: var(--dark);
	border-radius: 0.5rem;
	box-shadow: 5px 5px 15px #211b36, -5px -5px 15px #372f5c;
}

@media screen and (max-width: 810px) {
	.card {
		width: 100%;
		margin: 0 0 5px;
		padding: 0;
	}
}

.container {
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
	text-align: center;
}

.date {
	height: 2.5rem;
}

.error-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

.error-danger {
	color: var(--danger);
}

.error-danger-big {
	font-size: 1.2rem;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.flex-container-column {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 80vh;
}

.flex-container-2-col {
	display: flex;
	align-items: flex-start;
	flex-direction: row;
	gap: 10px;
	width: 100%;
	padding: 0 10px;
}

@media screen and (max-width: 810px) {
	.flex-container-2-col {
		flex-wrap: wrap;
		flex-direction: column-reverse;
		padding: 0 5px;
	}

	.flex-center {
		margin: 0;
		width: 100%;
	}
}

.header {
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	height: 62px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 62px;
	padding: 10px 20px;
	border-bottom: 2px solid rgba(255, 255, 255, 0.1);
	background-color: var(--dark);
	box-shadow: 5px 5px 15px #211b36, -5px -5px 15px #372f5c;
	z-index: 100;
}

.header-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.separator-bottom {
	padding-bottom: 20px;
	border-bottom: 1px solid var(--light);
}

.icon-shadow {
	-webkit-filter: drop-shadow(5px 5px 2px rgb(0 0 0 / 0.4));
	filter: drop-shadow(5px 5px 2px rgb(0 0 0 / 0.4));
}

.icon-size {
	font-size: 2rem;
	margin: 10px;
}

.icon-header {
	display: flex;
	align-items: center;
}

.icon-linked {
	margin-top: 10px;
}

.icon-container {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.icon-large-container {
	position: relative;
	display: flex;
	justify-content: center;
}

.icon-large {
	font-size: 15rem;
	-webkit-filter: drop-shadow(5px 5px 2px rgb(0 0 0 / 0.4));
	filter: drop-shadow(5px 5px 2px rgb(0 0 0 / 0.4));
}

.icon-space {
	margin: 0 10px;
}

.inline {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	margin: 20px 0 0;
}

.inline-left {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 0;
}

@media screen and (max-width: 810px) {
	.inline-left {
		justify-content: center;
	}
}

.inline-center {
	display: flex;
	justify-content: center;
	margin: 20px 0 0;
}

.inline-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--light);
	width: calc(100% - 40px);
}

.list {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: calc(100% - 40px);
}

.column-list-container {
	display: block;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 80%;
	margin: 0 auto;
	padding: 0 20px;
}

.link-search {
	width: 40%;
}

.links {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	margin-top: 20px;
}

.nav {
	width: 80vw;
	font-size: 1.5rem;
	padding: 1.5em;
	margin: 5rem auto;
	border: 2px solid rgba(255, 255, 255, 0.1);
	box-shadow: 5px 5px 15px #211b36, -5px -5px 15px #372f5c;
	border-radius: 0.5rem;
}

.nav-links {
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-links + .nav-links {
	margin-top: 20px;
}

.nav-ul-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	min-width: 25%;
	overflow-y: scroll;
}

@media screen and (max-width: 810px) {
	.nav-ul-container {
		width: 100%;
		align-items: center;
	}
}

.nav-ul-container::-webkit-scrollbar {
	width: 0;
	background: transparent;
}

.search-container {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.search-input {
	margin: 0 0.5rem;
}

.search-icon {
	padding-top: 5px;
}

.search-inline {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	width: 70%;
}

.status {
	color: var(--dark);
	padding: 2.5px 5px;
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	justify-content: center;
	justify-self: center;
	border-radius: 5px;
	font-weight: bold;
	text-align: center;
}

.status-New {
	background-color: darkred;
	color: #fff;
}

.status-Open {
	background-color: gold;
}

.status-Assigned {
	background-color: darkorange;
}

.status-Note_sent {
	background-color: greenyellow;
}

.status-Product_missing {
	background-color: mediumorchid;
}

.status-In_progress {
	background-color: cornflowerblue;
}

.status-Closed {
	background-color: limegreen;
}

.status-Updated {
	background-color: orangered;
}

.uppercase {
	text-transform: uppercase;
}

.table {
	display: flex;
	flex-flow: column;
	border-radius: 0.25rem;
	overflow: hidden;
	margin: 10px auto;
	width: 100%;
}

.table p {
	margin: 10px;
}

@media screen and (max-width: 810px) {
	.table p {
		margin: 5px;
	}
}

.row {
	display: flex;
	flex-flow: row;
	text-align: left;
	width: 100%;
}

.row + .row {
	border-bottom: 1px solid var(--light);
}

.row > * {
	flex-basis: 0;
	flex-grow: 1;
}

.row-head {
	background-color: var(--gold);
	color: var(--dark);
	font-weight: bold;
}
